@import 'src/styles/vars';

.service-detect {
  background: $helper-detect;
}

.service-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.service-button-reset {
  border: 0;
  outline: none;
}
