@import './vars';

body {
  @extend .font-family-brand;
  @extend .font-weight-regular;
  @extend .font-size-normal;
}

.themed {
  background: #f5f5f5;
  margin: 0; padding: 0;
}

.rc-content-container {
  height: 100vh;
  padding-top: 54px;
}

.rc-paginator {
  position: absolute;
  top: 0;
  width: 100%;
  height: 54px;
  background: #fff;
  border-bottom: 1px solid rgba(black, .08);
  padding: 6px 0;
  padding-bottom: 7px;
  padding-left: 32px;
}

.rc-paginator__element {
  display: inline-block;
  vertical-align: middle;
}

.rc-paginator__checkAll {
  margin-right: 24px;
  margin-top: -4px;
}

.rc-paginator__form {
  overflow-y: hidden;
  overflow-x: auto;
}

.rc-paginator__form-width {
  min-width: 488px;
}

.rc-paginator__form-group {
  display: inline-block;
}

.rc-paginator__form-label {
  font-size: 16px;
  color: rgba(black, .78);
  margin-right: 8px;
}

.rc-paginator-form__pageId {
  width: 48px;
  text-align: center !important;
  font-weight: 600;
}

.rc-paginator-form__pagePer {
  width: 44px;
}


.rc-images-container {
  overflow: auto;
  padding: 32px;
}

.rc-mat-form-field {
  margin-bottom: -1.25em;
  margin-top: -0.84375em;
}

.rc-paginator__form-arrows {

}

.rc-paginator__form-displays {
  margin-left: 9px;
}

.rc-paginator-form__pageId-label {
  display: inline-block;
  min-width: 55px;
}

.rc-paginator__form-label_pageId {
  margin-right: 0;
}

.rc-paginator-form__pagePer-select {
  font-size: 16px !important;
  padding-bottom: 1px !important;
  color: rgba(black, .78) !important;
}


.rc-rightside {
  min-width: 426px;
  background: #fff;
  border-left: 1px solid rgba(black, .08);
  overflow: auto;
  padding: 16px;
  padding-left: 24px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}


.mat-icon-button .mat-icon {
  margin-top: -3px;
}

/*
.rc-width-full .mat-checkbox-layout {
  width: 100%;
}

.rc-width-full .mat-checkbox-layout .mat-checkbox-label {
  width: 100%;
}
*/
