@import '~@angular/material/theming';
@import './variables/typography';

@include mat-core();

$hs-primary: mat-palette($mat-blue, 600, A100);
$hs-accent:  mat-palette($mat-amber, 700);

$hs-warn:    mat-palette($mat-red);

$hs-typography: mat-typography-config(
  $font-family: ''+$theme-font-family
);
@include angular-material-typography($hs-typography);

$hs-theme: mat-light-theme($hs-primary, $hs-accent, $hs-warn);
@include angular-material-theme($hs-theme);

.mat-flat-button {
  border-radius: 999px !important;
  font-weight: 600;
}

.mat-flat-button.mat-primary {
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 2px darken(mat-color($hs-primary), 20%);
}

.mat-flat-button {
  @extend .font-size-small;
  padding: 0 16px !important;
  transition: 
  box-shadow ease-in-out 300ms,
  background-color ease-in-out 160ms;

  &:hover {
    background-color: mat-color($hs-primary, 900);
  }
  &:focus {
    box-shadow: 0 1px 12px 1px rgba(mat-color($hs-primary, 900), .35);
  }
}

