@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=cyrillic');

$theme-font-family: 'Source Sans Pro', sans-serif;

.font-family-brand {
    font-family: 'Source Sans Pro', sans-serif;
}

/* ————————————————— Font Weight ————————————————— */

.font-weight-light {
  font-weight: 300;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

/* ————————————————— Font Size ————————————————— */

.font-size-micro {
  font-size: 13px;
}

.font-size-small {
  font-size: 16px;
}

.font-size-normal {
  font-size: 18px;
}

.font-size-medium {
  font-size: 30px;
}

.font-size-large {
  font-size: 48px;
}

.font-size-extra-large {
  font-size: 82px;
}
